    * {
        padding: 0px;
        margin: 0px;
    }


    h1 {
        margin: 30px;

        width: 416px;
        text-align: center;
        font-family: '微软雅黑';
        font-weight: bolder;
    }
span{

    margin:150px;
    text-align: center;
    font-family: '微软雅黑'
}
    #list li {
        width: 100px;
        height: 100px;
        list-style: none;
        text-align: center;
        line-height: 100px;
        border-collapse: collapse;
        float: left;
        font-family: '微软雅黑';
        font-size: 30px;
        border-radius: 5px;
        margin: 5px;
        font-weight: bolder;
    }

    #list {
        width: 440px;
        height: 440px;
        margin: 30px;
        background-color: #baa;
        border-radius: 8px;
        padding: 5px;
    }

    .number {
        color: #766;
        background-color: #dcb;
    }

    .number2 {
        color: #766;
        background-color: #eee;
    }

    .number4 {
        color: #766;
        background-color: #eec;
    }

    .number8 {
        color: #ffe;
        background-color: #fb8;
    }

    .number16 {
        color: #ffe;
        background-color: #f96;
    }

    .number32 {
        color: #ffe;
        background-color: #f75;
    }

    .number64 {
        color:#ffe;
        background-color:#f53
    }

    .number128 {
        color: #766;
        background-color:#ec7
    }

    .number256 {
        color:#ffe;
        background-color:#ec6;
    }

    .number512 {
        color:#ffe;
        background-color:#ec5;
        font-size:45px
    }

    .number1024 {
        color: #766;
        background-color:#ec3
    }

    .number2048 {
        color:#fff;
        font-size:35px;
        background-color:#ec2;

    }
    body {
        padding: 10px 60px 60px 60px;

    }

    .csshub-wrap {
        height: 100px;
        width: 200px;
    }

    .csshub-button {
        background-color: transparent;
        border: 2px solid #1ECD97;
        border-radius: 4px;
        display: inline-block;
        text-decoration: none!important;
        color: #1ECD97;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        letter-spacing: 1px;
        margin: 5px;
        overflow: hidden;
        padding: 0 22px;
        text-align: center;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
    }
    .csshub-button:hover {
        background-color: #1ECD97;
    }

    .csshub-roll-text {
        display: block;
        position: relative;
        transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .csshub-roll-text:last-child {
        color: #fff;
    }

    .csshub-rollover:hover .csshub-roll-text:first-child {
        margin-top: -38px;
    }